<!DOCTYPE html>
<html lang="en" ng-app="NoteWrangler">
    <head>
        <meta charset="utf-8">
        <title>Note Wrangler</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/application.css" />
    </head>
    <body>
        <div class="nav-wrapper has-dropdown">
            <div class="nav-content">
                <div class="wrapper">
                    <div class="nav-content-layout">
                        <div class="nav-list">

                        <a href="#/"
                        class="list-item"
                        ng-click="selected = 'notes'"
                        ng-class="{'active': selected == 'notes'}"> Notes </a>

                        <a href="#/users"
                        class="list-item"
                        ng-click="selected = 'users'"
                        ng-class="{'active': selected == 'users'}"> Users </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-wrapper"></div>
        <div class="main-wrapper">
            <nw-category-select active-category="activeCategory"></nw-category-select>
            <div ng-view></div>
        </div>
        
        <!-- Load Js libs -->
        <script src="./js/vendor/jquery.js"></script>
        <script src="./js/vendor/angular.js"></script>
        <script src="./js/vendor/angular-route.js"></script>
        <script src="./js/vendor/angular-resource.js"></script>

        <script src="./js/app.js"></script>
        <script src="./js/routes.js"></script>

        <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>

        <!-- Services -->
        <script src="/js/services/note.js"></script>
        <script src="/js/services/gravatar.js"></script>

        <!-- Controllers -->
        <script src="./js/controllers/notes-create-controller.js"></script>
        <script src="./js/controllers/notes-edit-controller.js"></script>
        <script src="./js/controllers/notes-index-controller.js"></script>
        <script src="./js/controllers/notes-show-controller.js"></script>
        <script src="./js/controllers/users-index-controller.js"></script>
        <script src="./js/controllers/users-show-controller.js"></script>
    </body>
</html>